.home-container {
    position: relative;
    background-image: url(src/assets/img/HOME.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.27);
    color: white;
    z-index: inherit; /* Set text color to white or any other color that contrasts well */
}

.day-text{
    font-family: Rialto;
}

.timeline-wrapper:nth-child(even){
    flex-direction: row-reverse;
    opacity: 1;
}


.overlay {
  
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    /* z-index: -1 */
}

.timeline-super-div {
    background: linear-gradient(90deg, var(--accent-1) 20%, var(--accent-2) 90%);
}
.timeline-pattern{
    background-image: url(public/img/pattern3.png);
    /* opacity: 0.6; */
}


@media screen and (max-width: 640px) {
    .timeline-wrapper{
        flex-direction: column;
    }
    /* .timeline-wrapper:nth-child(odd){
        flex-direction: row;
    } */
}