/* .event-details-container{
    display: none;
}

.image-container:hover + .event-details-container{
    display: block;
} */

.reg-btn{
    transition: 0.3s all ease-in-out;
    background-color: inherit;
    text-decoration: none;
}

.reg-btn:hover{
    background-color: white;
    color: black;
}