.nav{
    background: linear-gradient(270deg, rgba(253, 212, 6, 0.50) 50%, rgba(247, 153, 50, 0.50) 100%);
}

.nav-text {
    font-size: 1.4rem;
    color: rgb(68, 67, 67);
    position: relative;
    padding: 0 8px;
}

.nav-text:after {
    content: "";
    position: absolute;
    background-color: #b56f1c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.nav-text:hover:after {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .nav-text {
        display: none;
    }

    .nav-items{
        display: none;
    }

    .nav-logo {
        display: block;
    }

    .logo{
        height: 5.5rem;
    }

    .hamburger-icon {
        display: block;
        justify-self: right;
        margin-right: -60%;
        cursor: pointer;
    }
}
