
.nav-text {
    font-size: 1.4rem;
    color: var(--main-light);
    position: relative;
    padding: 0 8px;
}

.nav-text:after {
    content: "";
    position: absolute;
    background-color: var(--accent-2);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.nav-text:hover:after {
    width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

@media screen and (max-width: 640px) {

    .nav {
        background: linear-gradient(270deg, var(--accent-2) 50%, var(--accent-1) 100%);
    }

    .nav-text {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .nav-menu{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .nav-items {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 30vw; 
        background: var(--accent-2);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: 1;
        padding: 20px;
        color: white; 
    }

    .nav-text{
        z-index: 2;
        /* background-color: red; */
    }

    .nav-items.active {
        transform: translateX(0);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 0;
    }

    .overlay.active {
        display: block;
    }

    .logo {
        height: 5.5rem;
    }

    .hamburger-icon {
        display: block;
        justify-self: right;
        margin-right: 1rem;
        cursor: pointer;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
