.main{
    width: 100%;
    height: 100vh;
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}

.clap-switch {
    height: 80px;
    width: 620px;
    background-color: black;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 93px;
    left: 0;
    transform-origin: left bottom;
    transform: rotate(-8deg); 
    transition: all ease 0.4s;
}

.clap-switch:hover{
    transform: rotate(0deg); 
}

.lower-switch{
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left-skew-rect{
    height: 80px;
    width: 80px;
    background-color: white;
    z-index: 999;
    transform: skew(-30deg, 0);
}

.right-skew-rect{
    height: 80px;
    width: 80px;
    background-color: white;
    z-index: 999;
    transform: skew(-30deg, 0);
}

.rest{
    width: 620px;
    background-color: black;
    text-transform: uppercase;
}

.rest h1{
    font-style: normal;
}