.left-8{
    border-left: 8px solid white;
}

.top-8{
    border-top: 8px solid white;
}

.right-8{
    border-right: 8px solid white;
}

.bottom-8{
    border-bottom: 8px solid white;
}

.left-4{
    border-left: 4px solid white;
}

.top-4{
    border-top: 4px solid white;
}

.right-4{
    border-right: 4px solid white;
}

.bottom-4{
    border-bottom: 4px solid white;
}